@import './color.scss';

.container{

    height: 90vh;

    >div{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
    }
}